In [176]:
import sys
sys.path.insert(0, 'C:/Users/Lenovo/Desktop/exam_eti/containerized_tool/data_analysis_tool/src')

In [178]:
import mysql_analyzer
import mysql.connector
import pandas as pd
from mysql.connector.errors import Error
import dat
from faker import Faker
import random
import json
from json import dumps
from json import loads
import time
from datetime import datetime
from kafka import KafkaProducer, TopicPartition, KafkaConsumer
import xlsxwriter
import openpyxl
import os

## Initiating mysql_analyzer class

In [180]:
mysql_works = mysql_analyzer.mysql_profiler('localhost',os.environ['MYSQLSERVER_USER'],
                os.environ['MYSQLSERVER_PASS'],'sakila')

## Exercises works on mysql_analyzer module`s below methods to demonstrate OOP skills

In [ ]:
mysql_works.multiple_dataset_apply_containing_cols_mysql()

In [ ]:
mysql_works.find_value_mysql('Hillyer')

In [ ]:
mysql_works.multiple_dataset_apply_mysql_query('SELECT * FROM criket_table')

In [ ]:
mysql_works.multiple_dataset_apply_mysql_query('SELECT team, COUNT(team) as game_played,\
                                          CAST(SUM(CASE WHEN team=WonBy THEN 1 ELSE 0 END)AS SIGNED) AS game_won FROM\
                                         (SELECT TeamA AS team, WonBy from criket_table\
                                         UNION ALL\
                                         SELECT TeamB AS team, WonBy from criket_table) AS sub\
                                         GROUP BY team\
                                         ORDER BY game_won'
                                         )