In [1]:
import sys
sys.path.insert(0, 'C:/Users/Lenovo/Desktop/exam_eti/containerized_tool/data_analysis_tool/src')

In [2]:
import mysql_analyzer
import mysql.connector
from mysql.connector.errors import Error
import os
import dat
from faker import Faker
import random
import json
import time
from datetime import datetime

working

In [3]:
mysql_works = mysql_analyzer.mysql_profiler('localhost',os.environ['MYSQLSERVER_USER'],
                os.environ['MYSQLSERVER_PASS'],'sakila')

In [4]:
# mysql_works.multiple_dataset_apply_containing_cols_mysql()

In [5]:
# mysql_works.find_value_mysql('Hillyer')

In [6]:
# mysql_works.multiple_dataset_apply_mysql_query('SELECT * FROM criket_table')

In [7]:
# mysql_works.multiple_dataset_apply_mysql_query('SELECT team, COUNT(team) as game_played,\
#                                           CAST(SUM(CASE WHEN team=WonBy THEN 1 ELSE 0 END)AS SIGNED) AS game_won FROM\
#                                          (SELECT TeamA AS team, WonBy from criket_table\
#                                          UNION ALL\
#                                          SELECT TeamB AS team, WonBy from criket_table) AS sub\
#                                          GROUP BY team\
#                                          ORDER BY game_won'
#                                          )

In [8]:
# for table_name in TABLES:
#     table_description = TABLES[table_name]
#     try:
#         print("Creating table {}: ".format(table_name), end='')
#         cursor.execute(table_description)
#     except mysql.connector.Error as err:
#         if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#             print("already exists.")
#         else:
#             print(err.msg)
#     else:
#         print("OK")

# cursor.close()
# cnx.close()

In [9]:
mysql_works.multiple_dataset_apply_mysql_insert("CREATE TABLE \
sakila.users_change_events (log_id BIGINT AUTO_INCREMENT,\
  event_type      TEXT,\
  event_timestamp TIMESTAMP,\
  user_id         INT,\
  user_name       TEXT,\
  user_email      TEXT,\
  PRIMARY KEY (log_id))")

'INSERT INTO STATEMENT EXECUTED'

In [12]:
# mysql_works.multiple_dataset_apply_mysql_insert("CREATE TRIGGER sakila.user_insert_capture AFTER INSERT ON sakila.customer FOR EACH ROW \
#   BEGIN INSERT INTO sakila.users_change_events \
#   (event_type, \
#    event_timestamp, \
#    user_id, \
#    user_name, \
#    user_email) \
#  VALUES ( \
#    'INSERT', \
#    now(), \
#    user_id, \
#    user_name, \
#    user_email); \
#   END;")

In [ ]:
# mysql_works.multiple_dataset_apply_mysql_insert("CREATE TRIGGER user_update_capture\
#  AFTER UPDATE ON users\
#  FOR EACH ROW BEGIN\
#  INSERT INTO users_change_events (\
#    event_type,\
#    event_timestamp,\
#    user_id,\
#    user_name,\
#    user_email\
#  )\
#  VALUES (\
#    'UPDATE',\
#    now(),\
#    NEW.user_id,\
#    NEW.user_name,\
#    NEW.user_email\
#  )")

## Create transaction by time interval

In [10]:
mysql_works.fake_record_creator_sakila()

654
655
656
657
658
659
660
661
662
663