In [1]:
import sys
sys.path.insert(0, 'C:/Users/Lenovo/Desktop/exam_eti/containerized_tool/data_analysis_tool/src')

In [2]:
import mysql_analyzer
import os
import dat
from faker import Faker
import random
import json
import time
from datetime import datetime

working

In [3]:
mysql_works = mysql_analyzer.mysql_profiler('localhost',os.environ['MYSQLSERVER_USER'],
                os.environ['MYSQLSERVER_PASS'],'sakila')

In [4]:
# mysql_works.multiple_dataset_apply_containing_cols_mysql()

In [5]:
# mysql_works.find_value_mysql('Hillyer')

In [6]:
# mysql_works.multiple_dataset_apply_mysql_query('SELECT * FROM criket_table')

In [7]:
# mysql_works.multiple_dataset_apply_mysql_query('SELECT team, COUNT(team) as game_played,\
#                                           CAST(SUM(CASE WHEN team=WonBy THEN 1 ELSE 0 END)AS SIGNED) AS game_won FROM\
#                                          (SELECT TeamA AS team, WonBy from criket_table\
#                                          UNION ALL\
#                                          SELECT TeamB AS team, WonBy from criket_table) AS sub\
#                                          GROUP BY team\
#                                          ORDER BY game_won'
#                                          )

In [8]:
mysql_works.multiple_dataset_apply_mysql_query(f"INSERT INTO sakila.address (address_id,address,address2,district,city_id,postal_code,phone,last_update) \
    VALUES ('606','Davar sokak','Davarcan cad','davaristan','537','27101','288245464564','{datetime.now().strftime('%Y-%m-%d %H:%M:%S')}')")

[]

In [9]:
mysql_works.multiple_dataset_apply_mysql_query(f"INSERT INTO sakila.customer (store_id,first_name,last_name,email,address_id,active,create_date,last_update) \
    VALUES ('2','Davar','Davarcan','davar@davar.com','606','1',\
    '{datetime.now().strftime('%Y-%m-%d %H:%M:%S')}','{datetime.now().strftime('%Y-%m-%d %H:%M:%S')}')")

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`sakila`.`customer`, CONSTRAINT `fk_customer_address` FOREIGN KEY (`address_id`) REFERENCES `address` (`address_id`) ON DELETE RESTRICT ON UPDATE CASCADE)