In [1]:
import sys
sys.path.insert(0, 'C:/Users/Lenovo/Desktop/exam_eti/containerized_tool/data_analysis_tool/src')

In [2]:
import mysql_analyzer
import eda_maker
import mysql.connector
import pandas as pd
from mysql.connector.errors import Error
import dat
from faker import Faker
import random
import json
from json import dumps
from json import loads
import time
from datetime import datetime
from kafka import KafkaProducer, TopicPartition, KafkaConsumer
import xlsxwriter
import openpyxl
import os

working

In [3]:
eda = eda_maker.EdaHelper('localhost',os.environ['MYSQLSERVER_USER'],
                os.environ['MYSQLSERVER_PASS'],'sakila')

In [5]:
eda.sql_command("SELECT * FROM address")

[(1,
  '47 MySakila Drive',
  None,
  'Alberta',
  300,
  '',
  '',
  datetime.datetime(2014, 9, 25, 22, 30, 27)),
 (2,
  '28 MySQL Boulevard',
  None,
  'QLD',
  576,
  '',
  '',
  datetime.datetime(2014, 9, 25, 22, 30, 9)),
 (3,
  '23 Workhaven Lane',
  None,
  'Alberta',
  300,
  '',
  '14033335568',
  datetime.datetime(2014, 9, 25, 22, 30, 27)),
 (4,
  '1411 Lillydale Drive',
  None,
  'QLD',
  576,
  '',
  '6172235589',
  datetime.datetime(2014, 9, 25, 22, 30, 9)),
 (5,
  '1913 Hanoi Way',
  '',
  'Nagasaki',
  463,
  '35200',
  '28303384290',
  datetime.datetime(2014, 9, 25, 22, 31, 53)),
 (6,
  '1121 Loja Avenue',
  '',
  'California',
  449,
  '17886',
  '838635286649',
  datetime.datetime(2014, 9, 25, 22, 34, 1)),
 (7,
  '692 Joliet Street',
  '',
  'Attika',
  38,
  '83579',
  '448477190408',
  datetime.datetime(2014, 9, 25, 22, 31, 7)),
 (8,
  '1566 Inegöl Manor',
  '',
  'Mandalay',
  349,
  '53561',
  '705814003527',
  datetime.datetime(2014, 9, 25, 22, 32, 18)),
 (9,
  '53 Idfu Parkway',
  '',
  'Nantou',
  361,
  '42399',
  '10655648674',
  datetime.datetime(2014, 9, 25, 22, 33, 16)),
 (10,
  '1795 Santiago de Compostela Way',
  '',
  'Texas',
  295,
  '18743',
  '860452626434',
  datetime.datetime(2014, 9, 25, 22, 33, 55)),
 (11,
  '900 Santiago de Compostela Parkway',
  '',
  'Central Serbia',
  280,
  '93896',
  '716571220373',
  datetime.datetime(2014, 9, 25, 22, 34, 11)),
 (12,
  '478 Joliet Way',
  '',
  'Hamilton',
  200,
  '77948',
  '657282285970',
  datetime.datetime(2014, 9, 25, 22, 32, 22)),
 (13,
  '613 Korolev Drive',
  '',
  'Masqat',
  329,
  '45844',
  '380657522649',
  datetime.datetime(2014, 9, 25, 22, 32, 29)),
 (14,
  '1531 Salé Drive',
  '',
  'Esfahan',
  162,
  '53628',
  '648856936185',
  datetime.datetime(2014, 9, 25, 22, 31, 36)),
 (15,
  '1542 Tarlac Parkway',
  '',
  'Kanagawa',
  440,
  '1027',
  '635297277345',
  datetime.datetime(2014, 9, 25, 22, 31, 53)),
 (16,
  '808 Bhopal Manor',
  '',
  'Haryana',
  582,
  '10672',
  '465887807014',
  datetime.datetime(2014, 9, 25, 22, 31, 30)),
 (17,
  '270 Amroha Parkway',
  '',
  'Osmaniye',
  384,
  '29610',
  '695479687538',
  datetime.datetime(2014, 9, 25, 22, 33, 27)),
 (18,
  '770 Bydgoszcz Avenue',
  '',
  'California',
  120,
  '16266',
  '517338314235',
  datetime.datetime(2014, 9, 25, 22, 33, 47)),
 (19,
  '419 Iligan Lane',
  '',
  'Madhya Pradesh',
  76,
  '72878',
  '990911107354',
  datetime.datetime(2014, 9, 25, 22, 31, 13)),
 (20,
  '360 Toulouse Parkway',
  '',
  'England',
  495,
  '54308',
  '949312333307',
  datetime.datetime(2014, 9, 25, 22, 33, 40)),
 (21,
  '270 Toulon Boulevard',
  '',
  'Kalmykia',
  156,
  '81766',
  '407752414682',
  datetime.datetime(2014, 9, 25, 22, 32, 48)),
 (22,
  '320 Brest Avenue',
  '',
  'Kaduna',
  252,
  '43331',
  '747791594069',
  datetime.datetime(2014, 9, 25, 22, 32, 25)),
 (23,
  '1417 Lancaster Avenue',
  '',
  'Northern Cape',
  267,
  '72192',
  '272572357893',
  datetime.datetime(2014, 9, 25, 22, 33, 3)),
 (24,
  '1688 Okara Way',
  '',
  'Nothwest Border Prov',
  327,
  '21954',
  '144453869132',
  datetime.datetime(2014, 9, 25, 22, 32, 30)),
 (25,
  '262 A Coruña (La Coruña) Parkway',
  '',
  'Dhaka',
  525,
  '34418',
  '892775750063',
  datetime.datetime(2014, 9, 25, 22, 30, 12)),
 (26,
  '28 Charlotte Amalie Street',
  '',
  'Rabat-Sal-Zammour-Z',
  443,
  '37551',
  '161968374323',
  datetime.datetime(2014, 9, 25, 22, 32, 16)),
 (27,
  '1780 Hino Boulevard',
  '',
  'Liepaja',
  303,
  '7716',
  '902731229323',
  datetime.datetime(2014, 9, 25, 22, 31, 58)),
 (28,
  '96 Tafuna Way',
  '',
  'Córdoba',
  128,
  '99865',
  '934730187245',
  datetime.datetime(2014, 9, 25, 22, 30, 5)),
 (29,
  '934 San Felipe de Puerto Plata Street',
  '',
  'Sind',
  472,
  '99780',
  '196495945706',
  datetime.datetime(2014, 9, 25, 22, 32, 31)),
 (30,
  '18 Duisburg Boulevard',
  '',
  '',
  121,
  '58327',
  '998009777982',
  datetime.datetime(2014, 9, 25, 22, 31, 8)),
 (31,
  '217 Botshabelo Place',
  '',
  'Southern Mindanao',
  138,
  '49521',
  '665356572025',
  datetime.datetime(2014, 9, 25, 22, 32, 36)),
 (32,
  '1425 Shikarpur Manor',
  '',
  'Bihar',
  346,
  '65599',
  '678220867005',
  datetime.datetime(2014, 9, 25, 22, 31, 20)),
 (33,
  '786 Aurora Avenue',
  '',
  'Yamaguchi',
  474,
  '65750',
  '18461860151',
  datetime.datetime(2014, 9, 25, 22, 31, 53)),
 (34,
  '1668 Anápolis Street',
  '',
  'Taipei',
  316,
  '50199',
  '525255540978',
  datetime.datetime(2014, 9, 25, 22, 33, 15)),
 (35,
  '33 Gorontalo Way',
  '',
  'West Bengali',
  257,
  '30348',
  '745994947458',
  datetime.datetime(2014, 9, 25, 22, 31, 18)),
 (36,
  '176 Mandaluyong Place',
  '',
  'Uttar Pradesh',
  239,
  '65213',
  '627705991774',
  datetime.datetime(2014, 9, 25, 22, 31, 17)),
 (37,
  '127 Purnea (Purnia) Manor',
  '',
  'Piemonte',
  17,
  '79388',
  '911872220378',
  datetime.datetime(2014, 9, 25, 22, 31, 42)),
 (38,
  '61 Tama Street',
  '',
  'Okayama',
  284,
  '94065',
  '708403338270',
  datetime.datetime(2014, 9, 25, 22, 31, 49)),
 (39,
  '391 Callao Drive',
  '',
  'Midi-Pyrnes',
  544,
  '34021',
  '440512153169',
  datetime.datetime(2014, 9, 25, 22, 31, 1)),
 (40,
  '334 Munger (Monghyr) Lane',
  '',
  'Markazi',
  31,
  '38145',
  '481183273622',
  datetime.datetime(2014, 9, 25, 22, 31, 36)),
 (41,
  '1440 Fukuyama Loop',
  '',
  'Henan',
  362,
  '47929',
  '912257250465',
  datetime.datetime(2014, 9, 25, 22, 30, 40)),
 (42,
  '269 Cam Ranh Parkway',
  '',
  'Chisinau',
  115,
  '34689',
  '489783829737',
  datetime.datetime(2014, 9, 25, 22, 32, 15)),
 (43,
  '306 Antofagasta Place',
  '',
  'Esprito Santo',
  569,
  '3989',
  '378318851631',
  datetime.datetime(2014, 9, 25, 22, 30, 23)),
 (44,
  '671 Graz Street',
  '',
  'Oriental',
  353,
  '94399',
  '680768868518',
  datetime.datetime(2014, 9, 25, 22, 32, 16)),
 (45,
  '42 Brindisi Place',
  '',
  'Yerevan',
  586,
  '16744',
  '42384721397',
  datetime.datetime(2014, 9, 25, 22, 30, 8)),
 (46,
  '1632 Bislig Avenue',
  '',
  'Nonthaburi',
  394,
  '61117',
  '471675840679',
  datetime.datetime(2014, 9, 25, 22, 33, 20)),
 (47,
  '1447 Imus Way',
  '',
  'Tahiti',
  167,
  '48942',
  '539758313890',
  datetime.datetime(2014, 9, 25, 22, 31, 2)),
 (48,
  '1998 Halifax Drive',
  '',
  'Lipetsk',
  308,
  '76022',
  '177727722820',
  datetime.datetime(2014, 9, 25, 22, 32, 54)),
 (49,
  '1718 Valencia Street',
  '',
  'Antofagasta',
  27,
  '37359',
  '675292816413',
  datetime.datetime(2014, 9, 25, 22, 30, 29)),
 (50,
  '46 Pjatigorsk Lane',
  '',
  'Moscow (City)',
  343,
  '23616',
  '262076994845',
  datetime.datetime(2014, 9, 25, 22, 32, 55)),
 (51,
  '686 Garland Manor',
  '',
  'Cear',
  247,
  '52535',
  '69493378813',
  datetime.datetime(2014, 9, 25, 22, 30, 19)),
 (52,
  '909 Garland Manor',
  '',
  'Tatarstan',
  367,
  '69367',
  '705800322606',
  datetime.datetime(2014, 9, 25, 22, 32, 55)),
 (53,
  '725 Isesaki Place',
  '',
  'Mekka',
  237,
  '74428',
  '876295323994',
  datetime.datetime(2014, 9, 25, 22, 33)),
 (54,
  '115 Hidalgo Parkway',
  '',
  'Khartum',
  379,
  '80168',
  '307703950263',
  datetime.datetime(2014, 9, 25, 22, 33, 11)),
 (55,
  '1135 Izumisano Parkway',
  '',
  'California',
  171,
  '48150',
  '171822533480',
  datetime.datetime(2014, 9, 25, 22, 33, 50)),
 (56,
  '939 Probolinggo Loop',
  '',
  'Galicia',
  1,
  '4166',
  '680428310138',
  datetime.datetime(2014, 9, 25, 22, 33, 8)),
 (57,
  '17 Kabul Boulevard',
  '',
  'Chiba',
  355,
  '38594',
  '697760867968',
  datetime.datetime(2014, 9, 25, 22, 31, 51)),
 (58,
  '1964 Allappuzha (Alleppey) Street',
  '',
  'Yamaguchi',
  227,
  '48980',
  '920811325222',
  datetime.datetime(2014, 9, 25, 22, 31, 47)),
 (59,
  '1697 Kowloon and New Kowloon Loop',
  '',
  'Moskova',
  49,
  '57807',
  '499352017190',
  datetime.datetime(2014, 9, 25, 22, 32, 47)),
 (60,
  '1668 Saint Louis Place',
  '',
  'Tahiti',
  397,
  '39072',
  '347487831378',
  datetime.datetime(2014, 9, 25, 22, 31, 2)),
 (61,
  '943 Tokat Street',
  '',
  'Vaduz',
  560,
  '45428',
  '889318963672',
  datetime.datetime(2014, 9, 25, 22, 31, 58)),
 (62,
  '1114 Liepaja Street',
  '',
  'Sarawak',
  282,
  '69226',
  '212869228936',
  datetime.datetime(2014, 9, 25, 22, 32)),
 (63,
  '1213 Ranchi Parkway',
  '',
  'Karnataka',
  350,
  '94352',
  '800024380485',
  datetime.datetime(2014, 9, 25, 22, 31, 21)),
 (64,
  '81 Hodeida Way',
  '',
  'Rajasthan',
  231,
  '55561',
  '250767749542',
  datetime.datetime(2014, 9, 25, 22, 31, 17)),
 (65,
  '915 Ponce Place',
  '',
  'Basel-Stadt',
  56,
  '83980',
  '1395251317',
  datetime.datetime(2014, 9, 25, 22, 33, 12)),
 (66,
  '1717 Guadalajara Lane',
  '',
  'Missouri',
  441,
  '85505',
  '914090181665',
  datetime.datetime(2014, 9, 25, 22, 33, 59)),
 (67,
  '1214 Hanoi Way',
  '',
  'Nebraska',
  306,
  '67055',
  '491001136577',
  datetime.datetime(2014, 9, 25, 22, 33, 56)),
 (68,
  '1966 Amroha Avenue',
  '',
  'Sichuan',
  139,
  '70385',
  '333489324603',
  datetime.datetime(2014, 9, 25, 22, 30, 32)),
 (69,
  '698 Otsu Street',
  '',
  'Cayenne',
  105,
  '71110',
  '409983924481',
  datetime.datetime(2014, 9, 25, 22, 31, 2)),
 (70,
  '1150 Kimchon Manor',
  '',
  'Skne ln',
  321,
  '96109',
  '663449333709',
  datetime.datetime(2014, 9, 25, 22, 33, 11)),
 (71,
  '1586 Guarujá Place',
  '',
  'Hunan',
  579,
  '5135',
  '947233365992',
  datetime.datetime(2014, 9, 25, 22, 30, 46)),
 (72,
  '57 Arlington Manor',
  '',
  'Madhya Pradesh',
  475,
  '48960',
  '990214419142',
  datetime.datetime(2014, 9, 25, 22, 31, 27)),
 (73,
  '1031 Daugavpils Parkway',
  '',
  'Béchar',
  63,
  '59025',
  '107137400143',
  datetime.datetime(2014, 9, 25, 22, 29, 59)),
 (74,
  '1124 Buenaventura Drive',
  '',
  'Mekka',
  13,
  '6856',
  '407733804223',
  datetime.datetime(2014, 9, 25, 22, 32, 59)),
 (75,
  '492 Cam Ranh Street',
  '',
  'Eastern Visayas',
  61,
  '50805',
  '565018274456',
  datetime.datetime(2014, 9, 25, 22, 32, 34)),
 (76,
  '89 Allappuzha (Alleppey) Manor',
  '',
  'National Capital Reg',
  517,
  '75444',
  '255800440636',
  datetime.datetime(2014, 9, 25, 22, 32, 39)),
 (77,
  '1947 Poços de Caldas Boulevard',
  '',
  'Chiayi',
  114,
  '60951',
  '427454485876',
  datetime.datetime(2014, 9, 25, 22, 33, 14)),
 (78,
  '1206 Dos Quebradas Place',
  '',
  'São Paulo',
  431,
  '20207',
  '241832790687',
  datetime.datetime(2014, 9, 25, 22, 30, 21)),
 (79,
  '1551 Rampur Lane',
  '',
  'Changhwa',
  108,
  '72394',
  '251164340471',
  datetime.datetime(2014, 9, 25, 22, 33, 14)),
 (80,
  '602 Paarl Street',
  '',
  'Pavlodar',
  402,
  '98889',
  '896314772871',
  datetime.datetime(2014, 9, 25, 22, 31, 55)),
 (81,
  '1692 Ede Loop',
  '',
  'São Paulo',
  30,
  '9223',
  '918711376618',
  datetime.datetime(2014, 9, 25, 22, 30, 16)),
 (82,
  '936 Salzburg Lane',
  '',
  'Uttar Pradesh',
  425,
  '96709',
  '875756771675',
  datetime.datetime(2014, 9, 25, 22, 31, 24)),
 (83,
  '586 Tete Way',
  '',
  'Kanagawa',
  256,
  '1079',
  '18581624103',
  datetime.datetime(2014, 9, 25, 22, 31, 48)),
 (84,
  '1888 Kabul Drive',
  '',
  'Oyo & Osun',
  217,
  '20936',
  '701457319790',
  datetime.datetime(2014, 9, 25, 22, 32, 24)),
 (85,
  '320 Baiyin Parkway',
  '',
  'Mahajanga',
  319,
  '37307',
  '223664661973',
  datetime.datetime(2014, 9, 25, 22, 31, 59)),
 (86,
  '927 Bahía Blanca Parkway',
  '',
  'Krim',
  479,
  '9495',
  '821972242086',
  datetime.datetime(2014, 9, 25, 22, 33, 33)),
 (87,
  '929 Tallahassee Loop',
  '',
  'Gauteng',
  497,
  '74671',
  '800716535041',
  datetime.datetime(2014, 9, 25, 22, 33, 6)),
 (88,
  '125 Città del Vaticano Boulevard',
  '',
  'Puebla',
  40,
  '67912',
  '48417642933',
  datetime.datetime(2014, 9, 25, 22, 32, 2)),
 (89,
  '1557 Kütahya Boulevard',
  '',
  'England',
  88,
  '88002',
  '720998247660',
  datetime.datetime(2014, 9, 25, 22, 33, 36)),
 (90,
  '870 Ashqelon Loop',
  '',
  'Songkhla',
  489,
  '84931',
  '135117278909',
  datetime.datetime(2014, 9, 25, 22, 33, 20)),
 (91,
  '1740 Portoviejo Avenue',
  '',
  'Sucre',
  480,
  '29932',
  '198123170793',
  datetime.datetime(2014, 9, 25, 22, 30, 53)),
 (92,
  '1942 Ciparay Parkway',
  '',
  'Cheju',
  113,
  '82624',
  '978987363654',
  datetime.datetime(2014, 9, 25, 22, 33, 6)),
 (93,
  '1926 El Alto Avenue',
  '',
  'Buenos Aires',
  289,
  '75543',
  '846225459260',
  datetime.datetime(2014, 9, 25, 22, 30, 5)),
 (94,
  '1952 Chatsworth Drive',
  '',
  'Guangdong',
  332,
  '25958',
  '991562402283',
  datetime.datetime(2014, 9, 25, 22, 30, 40)),
 (95,
  '1370 Le Mans Avenue',
  '',
  'Brunei and Muara',
  53,
  '52163',
  '345679835036',
  datetime.datetime(2014, 9, 25, 22, 30, 23)),
 (96,
  '984 Effon-Alaiye Avenue',
  '',
  'Gois',
  183,
  '17119',
  '132986892228',
  datetime.datetime(2014, 9, 25, 22, 30, 17)),
 (97,
  '832 Nakhon Sawan Manor',
  '',
  'Inner Mongolia',
  592,
  '49021',
  '275595571388',
  datetime.datetime(2014, 9, 25, 22, 30, 50)),
 (98,
  '152 Kitwe Parkway',
  '',
  'Caraga',
  82,
  '53182',
  '835433605312',
  datetime.datetime(2014, 9, 25, 22, 32, 35)),
 (99,
  '1697 Tanauan Lane',
  '',
  'Punjab',
  399,
  '22870',
  '4764773857',
  datetime.datetime(2014, 9, 25, 22, 31, 22)),
 (100,
  '1308 Arecibo Way',
  '',
  'Georgia',
  41,
  '30695',
  '6171054059',
  datetime.datetime(2014, 9, 25, 22, 33, 43)),
 (101,
  '1599 Plock Drive',
  '',
  'Tete',
  534,
  '71986',
  '817248913162',
  datetime.datetime(2014, 9, 25, 22, 32, 18)),
 (102,
  '669 Firozabad Loop',
  '',
  'Abu Dhabi',
  12,
  '92265',
  '412903167998',
  datetime.datetime(2014, 9, 25, 22, 33, 35)),
 (103,
  '588 Vila Velha Manor',
  '',
  'Kyongsangbuk',
  268,
  '51540',
  '333339908719',
  datetime.datetime(2014, 9, 25, 22, 33, 7)),
 (104,
  '1913 Kamakura Place',
  '',
  'Lipetsk',
  238,
  '97287',
  '942570536750',
  datetime.datetime(2014, 9, 25, 22, 32, 49)),
 (105,
  '733 Mandaluyong Place',
  '',
  'Asir',
  2,
  '77459',
  '196568435814',
  datetime.datetime(2014, 9, 25, 22, 32, 59)),
 (106,
  '659 Vaduz Drive',
  '',
  'Ha Darom',
  34,
  '49708',
  '709935135487',
  datetime.datetime(2014, 9, 25, 22, 31, 40)),
 (107,
  '1177 Jelets Way',
  '',
  'Kwara & Kogi',
  220,
  '3305',
  '484292626944',
  datetime.datetime(2014, 9, 25, 22, 32, 24)),
 (108,
  '1386 Yangor Avenue',
  '',
  'Provence-Alpes-Cte',
  543,
  '80720',
  '449216226468',
  datetime.datetime(2014, 9, 25, 22, 31, 1)),
 (109,
  '454 Nakhon Sawan Boulevard',
  '',
  'Funafuti',
  173,
  '76383',
  '963887147572',
  datetime.datetime(2014, 9, 25, 22, 33, 31)),
 (110,
  '1867 San Juan Bautista Tuxtepec Avenue',
  '',
  'Ivanovo',
  225,
  '78311',
  '547003310357',
  datetime.datetime(2014, 9, 25, 22, 32, 48)),
 (111,
  '1532 Dzerzinsk Way',
  '',
  'Buenos Aires',
  334,
  '9599',
  '330838016880',
  datetime.datetime(2014, 9, 25, 22, 30, 6)),
 (112,
  '1002 Ahmadnagar Manor',
  '',
  'Mxico',
  213,
  '93026',
  '371490777743',
  datetime.datetime(2014, 9, 25, 22, 32, 7)),
 (113,
  '682 Junan Way',
  '',
  'North West',
  273,
  '30418',
  '622255216127',
  datetime.datetime(2014, 9, 25, 22, 33, 4)),
 (114,
  '804 Elista Drive',
  '',
  'Hubei',
  159,
  '61069',
  '379804592943',
  datetime.datetime(2014, 9, 25, 22, 30, 33)),
 (115,
  '1378 Alvorada Avenue',
  '',
  'Distrito Federal',
  102,
  '75834',
  '272234298332',
  datetime.datetime(2014, 9, 25, 22, 34, 3)),
 (116,
  '793 Cam Ranh Avenue',
  '',
  'California',
  292,
  '87057',
  '824370924746',
  datetime.datetime(2014, 9, 25, 22, 33, 55)),
 (117,
  '1079 Tel Aviv-Jaffa Boulevard',
  '',
  'Sucre',
  132,
  '10885',
  '358178933857',
  datetime.datetime(2014, 9, 25, 22, 34, 4)),
 (118,
  '442 Rae Bareli Place',
  '',
  'Nordrhein-Westfalen',
  148,
  '24321',
  '886636413768',
  datetime.datetime(2014, 9, 25, 22, 31, 4)),
 (119,
  '1107 Nakhon Sawan Avenue',
  '',
  'Mxico',
  365,
  '75149',
  '867546627903',
  datetime.datetime(2014, 9, 25, 22, 32, 11)),
 (120,
  '544 Malmö Parkway',
  '',
  'Central Java',
  403,
  '63502',
  '386759646229',
  datetime.datetime(2014, 9, 25, 22, 31, 34)),
 (121,
  '1967 Sincelejo Place',
  '',
  'Gujarat',
  176,
  '73644',
  '577812616052',
  datetime.datetime(2014, 9, 25, 22, 31, 16)),
 (122,
  '333 Goiânia Way',
  '',
  'Texas',
  185,
  '78625',
  '909029256431',
  datetime.datetime(2014, 9, 25, 22, 33, 51)),
 (123,
  '1987 Coacalco de Berriozábal Loop',
  '',
  'al-Qalyubiya',
  476,
  '96065',
  '787654415858',
  datetime.datetime(2014, 9, 25, 22, 30, 58)),
 (124,
  '241 Mosul Lane',
  '',
  'Risaralda',
  147,
  '76157',
  '765345144779',
  datetime.datetime(2014, 9, 25, 22, 30, 52)),
 (125,
  '211 Chiayi Drive',
  '',
  'Uttar Pradesh',
  164,
  '58186',
  '665993880048',
  datetime.datetime(2014, 9, 25, 22, 31, 15)),
 (126,
  '1175 Tanauan Way',
  '',
  'Lima',
  305,
  '64615',
  '937222955822',
  datetime.datetime(2014, 9, 25, 22, 32, 33)),
 (127,
  '117 Boa Vista Way',
  '',
  'Uttar Pradesh',
  566,
  '6804',
  '677976133614',
  datetime.datetime(2014, 9, 25, 22, 31, 29)),
 (128,
  '848 Tafuna Manor',
  '',
  'Kütahya',
  281,
  '45142',
  '614935229095',
  datetime.datetime(2014, 9, 25, 22, 33, 27)),
 (129,
  '569 Baicheng Lane',
  '',
  'Gauteng',
  85,
  '60304',
  '490211944645',
  datetime.datetime(2014, 9, 25, 22, 33, 2)),
 (130,
  '1666 Qomsheh Drive',
  '',
  'São Paulo',
  410,
  '66255',
  '582835362905',
  datetime.datetime(2014, 9, 25, 22, 30, 20)),
 (131,
  '801 Hagonoy Drive',
  '',
  'Smolensk',
  484,
  '8439',
  '237426099212',
  datetime.datetime(2014, 9, 25, 22, 32, 57)),
 (132,
  '1050 Garden Grove Avenue',
  '',
  'Slaskie',
  236,
  '4999',
  '973047364353',
  datetime.datetime(2014, 9, 25, 22, 32, 42)),
 (133,
  '1854 Tieli Street',
  '',
  'Shandong',
  302,
  '15819',
  '509492324775',
  datetime.datetime(2014, 9, 25, 22, 30, 39)),
 (134,
  '758 Junan Lane',
  '',
  'Gois',
  190,
  '82639',
  '935448624185',
  datetime.datetime(2014, 9, 25, 22, 30, 18)),
 (135,
  '1752 São Leopoldo Parkway',
  '',
  'Taka-Karpatia',
  345,
  '14014',
  '252265130067',
  datetime.datetime(2014, 9, 25, 22, 33, 32)),
 (136,
  '898 Belém Manor',
  '',
  'Free State',
  87,
  '49757',
  '707169393853',
  datetime.datetime(2014, 9, 25, 22, 33, 2)),
 (137,
  '261 Saint Louis Way',
  '',
  'Coahuila de Zaragoza',
  541,
  '83401',
  '321944036800',
  datetime.datetime(2014, 9, 25, 22, 32, 13)),
 (138,
  '765 Southampton Drive',
  '',
  'al-Qalyubiya',
  421,
  '4285',
  '23712411567',
  datetime.datetime(2014, 9, 25, 22, 30, 57)),
 (139,
  '943 Johannesburg Avenue',
  '',
  'Maharashtra',
  417,
  '5892',
  '90921003005',
  datetime.datetime(2014, 9, 25, 22, 31, 24)),
 (140,
  '788 Atšinsk Street',
  '',
  'Karnataka',
  211,
  '81691',
  '146497509724',
  datetime.datetime(2014, 9, 25, 22, 31, 17)),
 (141,
  '1749 Daxian Place',
  '',
  'Gelderland',
  29,
  '11044',
  '963369996279',
  datetime.datetime(2014, 9, 25, 22, 32, 20)),
 (142,
  '1587 Sullana Lane',
  '',
  'Inner Mongolia',
  207,
  '85769',
  '468060467018',
  datetime.datetime(2014, 9, 25, 22, 30, 35)),
 (143,
  '1029 Dzerzinsk Manor',
  '',
  'Ynlin',
  542,
  '57519',
  '33173584456',
  datetime.datetime(2014, 9, 25, 22, 33, 16)),
 (144,
  '1666 Beni-Mellal Place',
  '',
  'Tennessee',
  123,
  '13377',
  '9099941466',
  datetime.datetime(2014, 9, 25, 22, 33, 48)),
 (145,
  '928 Jaffna Loop',
  '',
  'Hiroshima',
  172,
  '93762',
  '581852137991',
  datetime.datetime(2014, 9, 25, 22, 31, 45)),
 (146,
  '483 Ljubertsy Parkway',
  '',
  'Scotland',
  149,
  '60562',
  '581174211853',
  datetime.datetime(2014, 9, 25, 22, 33, 36)),
 (147,
  '374 Bat Yam Boulevard',
  '',
  'Kilis',
  266,
  '97700',
  '923261616249',
  datetime.datetime(2014, 9, 25, 22, 33, 26)),
 (148,
  '1027 Songkhla Manor',
  '',
  'Minsk',
  340,
  '30861',
  '563660187896',
  datetime.datetime(2014, 9, 25, 22, 30, 13)),
 (149,
  '999 Sanaa Loop',
  '',
  'Gauteng',
  491,
  '3439',
  '918032330119',

## Initiating mysql_analyzer class

In [3]:
mysql_works = mysql_analyzer.mysql_profiler('localhost',os.environ['MYSQLSERVER_USER'],
                os.environ['MYSQLSERVER_PASS'],'sakila')

## Exercises works on mysql_analyzer module`s below methods to demonstrate OOP skills

In [ ]:
mysql_works.multiple_dataset_apply_containing_cols_mysql()

In [ ]:
mysql_works.find_value_mysql('Hillyer')

In [ ]:
mysql_works.multiple_dataset_apply_mysql_query('SELECT * FROM criket_table')

In [ ]:
mysql_works.multiple_dataset_apply_mysql_query('SELECT team, COUNT(team) as game_played,\
                                          CAST(SUM(CASE WHEN team=WonBy THEN 1 ELSE 0 END)AS SIGNED) AS game_won FROM\
                                         (SELECT TeamA AS team, WonBy from criket_table\
                                         UNION ALL\
                                         SELECT TeamB AS team, WonBy from criket_table) AS sub\
                                         GROUP BY team\
                                         ORDER BY game_won'
                                         )