In [1]:
import pandas as pd
import numpy as np
import re
import json
from azure.storage.blob import BlobServiceClient, generate_account_sas, ResourceTypes, AccountSasPermissions
from datetime import datetime, timedelta, date
import openpyxl
import xlsxwriter
from collections import deque
import dat
import sqlite3
import os
import glob
import re

In [2]:
dat.multiple_dataset_apply_containing_cols("Chinook.db")

Album
Artist
Customer
Employee3
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track
foo
DAVAR
Davarcan

c:\Users\MeliaMuyo\Desktop\ALL\GIRAY\data_analysis_tool\dat\df_null_counts.py:6: RuntimeWarning: divide by zero encountered in scalar divide
  null_val_percent = [df[i].isna().sum()/df[i].count() for i in df.columns]

   columns_contain_each
0              Customer
1               Address
2               Invoice
3        BillingAddress
0              Customer
..                  ...
3          BillingState
0              Davarcan
1               Country
2               Invoice
3        BillingCountry

[120 rows x 1 columns]

In [3]:
# dat.multiple_dataset_apply(os.environ["local_csv_file_path"])

In [4]:
# use glob to get all the csv files 
# in the folder
path = os.environ["local_csv_file_path"]
csv_files = glob.glob(os.path.join(path, "*.csv"))

#xlsx location
xlsx_files = glob.glob(os.path.join(path, "*.xlsx"))

# loop over the list of csv files
# e = pd.DataFrame()
for f in csv_files:
    File_name =  f.replace("\\",",")
    File_name = re.split('[, .]', File_name)[-2]

    # File_name =  f.split("\\")[-1]
    # File_name = [i[0].split('.') for i in File_name]
    # print(File_name)

      
    # read the csv file
    vars()[File_name] = pd.read_csv(f, low_memory=False)
    
    vars()[File_name] = dat.df_flatten_json(vars()[File_name])

    vars()[File_name] = vars()[File_name].astype('str')

alldfs = [var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)]
dataframes_dict = {}
for df in alldfs:
    dataframes_dict[df] = vars()[df]


for a in range(len(alldfs)):
    for (columnName, columnData) in vars()[alldfs[a]].items():
        pass
    for key,colondata in dataframes_dict.items():
        pass
        for (colonname, colondata) in colondata.items():
            if columnData.isin(colondata).all() == True and columnName != colonname:
                print(columnName,colonname,[alldfs[a]],key)

tarrak parameter_value ['danyal'] dingil

In [ ]:
for a in range(len(alldfs)):
    for (columnName, columnData) in vars()[alldfs[a]].items():
        print(columnName,columnData.dtype)

In [ ]:
for key,value in dataframes_dict.items():
    print(key)

In [ ]:
print(alldfs)

In [8]:
# # use glob to get all the csv files 
# # in the folder
# path = os.environ["local_csv_file_path"]
# csv_files = glob.glob(os.path.join(path, "*.csv"))

# #xlsx location
# xlsx_files = glob.glob(os.path.join(path, "*.xlsx"))

# # loop over the list of csv files
# e = pd.DataFrame()
# for f in csv_files:
      
#     # read the csv file
#     df = pd.read_csv(f, low_memory=False)
#     df = dat.df_flatten_json(df)

#     e = pd.concat([e,df])

#     File_name =  f.split("\\")[-1]
# # d = []
# # counter = 0
# # print(e)
# # for (columnName, columnData) in e.items():
# #     for i in range(len(columnName)):
# #         # print(i)
# #         print(columnName)
# #         if columnData.isin(e.iloc[:,i]).all()  == True and columnData.dropna().empty == False:
# #             print(columnName,e.iloc[:,i].name)
# # e = [e[i].astype(str) for i in e.columns]
# # print(e["parameter_value"],e["id"])
# for i in e.columns:
#     if e[i].dtype == float:
#         e[i] = e[i].apply("{:.0f}".format)
#         # e[i] = e[i].replace("nan", "None")
#         e[i] = e[i].dropna()
#         e[i] = e[i].astype(str)
#     else:
#         e[i] = e[i].dropna()
#         e[i] = e[i].astype(str)
#         # e[i] = e[i].replace("nan", "NaN")
# # print(e["parameter_value"],e["id"])
# for (columnName, columnData) in e.items():
#         # print(i)
#     # columnData = columnData.dropna()
    
#     # print(columnData)
#     # print(columnName,columnData.dropna().empty == False)
#     # columnData = columnData.astype(str)
#     # if columnData.isin(e[f"{columnName}"]).all()  == True and columnData.dropna().empty == False:
#     # if columnData.dropna().isin(e[f"{columnName}"].dropna()).any()  == True:
#     if columnData[lambda x: x!="b9de71c5c3cc4cd7a97e50b832106e5a"].isin(e[f"{columnName}"][lambda x: x!="b9de71c5c3cc4cd7a97e50b832106e5a"]).all()  == True:
#         print(columnData)
#         print(columnName,e[f"{columnName}"].name)