In [7]:
import mysql.connector
import dat
import os
from datetime import datetime, timedelta, date
import openpyxl
import xlsxwriter
import pandas as pd
import numpy as np
import re
import json

### This chunk is for docker works

In [8]:
# df = dat.df_read_aws('merkle-de-interview-case-study/de','item.csv')

# functions_df_names = dat.analysis_dict()

# for key,value in functions_df_names.items():
#     # Creating dataframes defined on analysis_dict.py file
#     vars()[key] = value(df)

# dat.save_dataframe_excel(globals(),f"analysis_dataset_{date.today()}")

### Below chunks are for Mysql works

In [9]:
mydb = mysql.connector.connect(user = os.environ['MYSQLSERVER_USER'], 
                               password = os.environ['MYSQLSERVER_PASS'],
                              host ='localhost',
                              database ='sakila')

mycursor = mydb.cursor()

In [10]:
# dat.multiple_dataset_apply_mysql('localhost',os.environ['MYSQLSERVER_USER'],
#                                                  os.environ['MYSQLSERVER_PASS'],'sakila')

In [11]:
# dat.multiple_dataset_apply_containing_cols_mysql('localhost',os.environ['MYSQLSERVER_USER'],
#                                                  os.environ['MYSQLSERVER_PASS'],'sakila')

In [ ]:
# dat.df_find_value.find_value_mysql('localhost',os.environ['MYSQLSERVER_USER'],
#                 os.environ['MYSQLSERVER_PASS'],'sakila','A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies')