In [1]:
# import pandas as pd
# import numpy as np
# import re
# import json
# # from azure.storage.blob import BlobServiceClient, generate_account_sas, ResourceTypes, AccountSasPermissions
# from datetime import datetime, timedelta, date
# import openpyxl
# import xlsxwriter
# from collections import deque
import dat
# import sqlite3
# import os
# import glob

In [5]:
dat.df_read_aws('merkle-de-interview-case-study/de','item.csv')

,adjective,category,created_at,id,modifier,name,price
0,fuzzy,contraption,2014-01-15 21:36:09,2512.0,carrying_case,fuzzy contraption carrying_case,150.0
1,NaN,instrument,2013-05-14 05:20:50,482.0,refill,instrument refill,35.2
2,industrial-strength,module,2014-02-04 19:28:32,2446.0,NaN,industrial-strength module,300.0
3,digital,tool,2013-02-25 12:23:18,1312.0,carrying_case,digital tool carrying_case,16.5
4,miniature,device,2013-08-05 17:20:45,3556.0,cleaner,miniature device cleaner,16.5
...,...,...,...,...,...,...,...
2193,prize-winning,apparatus,2013-08-13 04:14:14,3952.0,charger,prize-winning apparatus charger,66.0
2194,fuzzy,dongle,2014-01-16 00:58:43,432.0,wrapper,fuzzy dongle wrapper,12.0
2195,industrial-strength,dongle,2013-12-18 21:37:01,1393.0,refill,industrial-strength dongle refill,72.0
2196,miniature,device,2013-11-27 14:14:47,425.0,NaN,miniature device,27.5
2197,NaN,widget,2013-10-10 21:13:50,325.0,how-to-manual,widget how-to-manual,0.0

In [ ]:
dat.data_dict_crate_sqlite("Chinook.db")

'data dict saved'

In [ ]:
dat.multiple_dataset_apply_containing_cols_sqlite("Chinook.db")

Album
Artist
Customer
Employee3
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track
foo
DAVAR
Davarcan

'output files saved'

In [ ]:
dat.find_value_sqlite("Chinook.db","Stuttgart")

'value find table saved'